<div class="row">
    <div class="col-md-4">

        <span class="text-right bigger-text"><a ng-click="$ctrl.back()">⇦ Back</a> </span>
        <div class="well well-sm text-center">
            <img src="img/fuck-that-bitch-yao-ming.png" height="210" width="183"/>
            <div class="big-header">{{$ctrl.errorCode}}</div>{{$ctrl.errorDesc}}
        </div>

    </div>
    <div class="col-md-8">
        <span class="text-right">&nbsp;</span>
        <div class="access-denied-block">
            <h1><span class="fa fa-warning"></span> {{$ctrl.errorMsg}}</h1>
            <br/><br/>
            <blockquote>
                <p>We always long for the forbidden things, and desire what is denied us.</p>
            </blockquote>
        </div>
    </div>
</div>