<div class="container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn btn-default" ui-sref-active="active" ui-sref="app.inventory.shrink">Shrink</div>
        <div class="btn btn-default" ui-sref-active="active" ui-sref="app.inventory.sale">Sale</div>
        <div class="btn btn-default" ui-sref-active="active" ui-sref="app.inventory.order">Order</div>
        <div class="btn btn-default" ui-sref-active="active" ui-sref="app.inventory.report">Report</div>
    </div>
</div>