<article data-article="$ctrl.article"></article>
<!--<article-comments data-article="$ctrl.article" data-comments="$ctrl.comments.results"></article-comments>-->

<div class="comments-container">
    <div class="comment-create" ng-switch="!!$root.session">
        <div ng-switch-when="true">
            <reply-box article="$ctrl.article"></reply-box>
        </div>
        <div ng-switch-default class="comment-nologin-info">
            <h3 class="no-margin text-center"><span class="fa fa-warning"></span> <a ui-sref="app.login">Sign in</a> to post a comment!</h3>
        </div>
    </div>
    <!--<div class="comment-info">{{$ctrl.comments.total}} COMMENTS</div>-->

    <article-comments-children article="$ctrl.article"
                               comments="$ctrl.comments"
                               on-post-comment="$ctrl.postComment"
                               parent-id="'root'">
    </article-comments-children>

</div>

