html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background-color: black;
    color: #d6d6d6;
}

.app {
    /*margin-top: 100px;*/
}

.container {
    padding: 0;
}

/*
.app table {
    font-size: 25px;
}
*/

.table-striped tr {
    background: #5b6467;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #4b6e7b;
}

.splash-bg {
    background: url("../img/splash.png") no-repeat;
    height: 720px;
    position: relative;
    top: -330px;
    z-index: -1;
    margin-bottom: -650px;
}

.right {
    float: right;
}

blog article {
    margin-bottom: 50px;
    position: relative;
    min-height: 200px;
}

article-page article {
    margin-bottom: 10px;
}

article .avatar img, article-create .avatar img {
    height: auto;
    float: left;
    width: 65px;
    margin-right: 10px;
    max-width: 805px;
}

/*article img {
    height: auto;
    float: left;
    width: 65px;
    margin-right: 10px;
    max-width: 805px;
}*/

.logo {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 49px;
    height: 200px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

main.container {
    /*max-width: 875px;*/
    z-index: 2;
    position: relative;
}

.article-title {
    height: 47px;
    font-size: 36px;
}

article header, article-create header {
    margin-bottom: 5px;
    text-shadow: #080808;
}

article .article-content p {
    /*max-height: 300px;
    overflow: hidden;*/
    /*min-height: 100px;*/

}

article .article-content, article-create .article-content {
    background: rgb(18, 18, 18);
    padding: 20px;
}

article .article-comments {
    margin-top: 5px;
}

article .avatar {

}

.article-info {
    position: relative;
}

.article-admin-ctrl {
    position: absolute;
    margin-right: 14px;
    right: 0;
    bottom: 0;
}

.comment-info {
    margin-bottom: 10px;
    /*background-color: #101010;*/
}

.white-links {
    color: white;
    font-size: 9pt;
    font-weight: normal;
}

.caption {
    position: relative;
}

.caption.user-comment {
    border-left: 2px solid green;
}

.comment-reply-area {
    position: absolute;
    right: 0;
    bottom: 1px;
}

.comment-body .author {
    font-size: 12px;
    margin-bottom: 5px;
}

.comment-body {
    background-color: #1a1a1a;
    /*margin-bottom: 10px;*/
    padding: 10px 15px 15px 15px;
}

.comment-create {
    background-color: #1a1a1a;
    /*padding: 20px;*/
    margin-bottom: 10px;
    position: relative;
}

.comment-create textarea {
    /*resize: none;*/
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: none;

}


article-create .comment-create textarea {
    height: 500px;

}

.comments-container > article-comments-children > .children {
    padding-left: 0;
}

.children {
    padding-left: 40px;
}

.children .comment-create {
    margin-left: 40px;
}

.comment-nested-helper {
    border-left: 1px dotted rgba(255, 255, 255, 0.18);
}

a {
    color: #ce422b;
    font-weight: bold;
}

a:hover {
    color: #ff4e2e;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

.comment-spacer {
    margin-left: 20px;
}

/*asdf*/

/*.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}*/

/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}*/

.comment-create-footer {
    padding: 5px;
}

pre {
    border-radius: 0;
    border: none;
    background-color: #292929;
    color: #eeeeee;
}

.article-title .form-control {
    height: 45px;
    color: #ce422b;
    font-weight: bold;
    font-size: 36px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, .3);

}

/* bootstrap changes */
.form-control {
    background-color: #1a1a1a;
    color: white;
    border-radius: 0;
}

.fadeout {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgb(18, 18, 18) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgb(18, 18, 18) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgb(18, 18, 18) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgb(18, 18, 18) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgb(18, 18, 18) 100%
    );
}

reply-box {
    position: relative;
    display: block;
}

reply-box .reply-box-cancel-btn {
    position: absolute;
    right: 11px;
    top: 9px;
    font-size: 17px;
    z-index: 2;
}

reply-box .reply-box-cancel-btn:hover {
    color: white;
    cursor: pointer;
}

.comment-disabled-overlay {
    pointer-events: none;
}

.comment-disabled-overlay:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    z-index: 6;
    content: ' ';
}

.comment-disabled-overlay:after {
    position: absolute;
    color: white;
    z-index: 6;
    top: 95px;
    left: 197px;
    margin: 0 auto;
    font-size: 23px;
    content: 'You must be logged in to make a comment.';
}

.comment-nologin-info {
    border: 1px dotted gray;
    background-color: #000;
    padding: 15px;
}

.big-header {
    font-size: 50px;
    color: #d43f3a;
}

.access-denied-block {
    height: 321px;
    background: black;
    border: 1px dotted;
    padding: 15px;
    text-align: center;
    margin-top: 9px;
}

.bigger-text {
    font-size: 20px;
}

.reply-button {
    padding: 2px 7px;
}

.comment-reply {
    padding: 2px 7px;
    /*float: left;*/
    background-color: #101010;
}

.clickable {
    cursor: pointer;
}

.pulse {
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

*.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}

*.ng-enter.ng-enter-active {
    opacity: 1;
}

*.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

*.ng-leave.ng-leave-active {
    opacity: 0;
}

.comment.ng-enter {
    opacity: 0;
    transition: all .5s ease;
}

.comment.ng-enter-active {
    opacity: 1;
    animation: pulse 2s 3;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(4, 204, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(21, 204, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(28, 204, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

/*-------------*/

.inventory-action-col {
    text-align: right;
}

.inventory-toolbar {
    background: gray;
    position: relative;
    /*margin-bottom: 5px;*/
    z-index: 1000;
}

.underlined-clickable {
    border-bottom: 1px dotted;
    cursor: pointer;
}

.inventory-table .input-group .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}

.underlined-clickable + span {
    margin-left: 10px;
}

.positive {
    color: #5ad757;
}

.signed.positive::before {
    content: "+ ";
}

.signed.negative::before {
    content: "- ";
}

.negative {
    color: #ff8881;
}

.inventory-row td {
    vertical-align: inherit !important;
}

.inventory-row-dirty {
    /*border: 1px solid #ff776f;*/
    position: relative;
}

.inv-slider {
    position: relative;
    /*width: 200px;
    height: 40px;*/
    /*margin-left: 40px;*/
    color: #FFFFFF;
    background-color: rgba(3, 0, 255, 0.48);
    text-align: center;
    left: 0;
    z-index: 5;

}

.inv-slider:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-right: 35px solid rgba(3, 0, 255, 0.48);
    border-bottom: 25px solid transparent;
    visibility: hidden;
}

.inv-slider:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-left: 35px solid rgba(3, 0, 255, 0.48);
    border-bottom: 25px solid transparent;
    visibility: hidden;
}

.inventory-row-dirty .inv-slider {
    background-color: rgba(255, 106, 0, 0.33);
}

.inventory-row-dirty .inv-slider:after {
    border-left: 35px solid rgba(0, 0, 255, 0.48);
}

.inventory-row-dirty .inv-slider:before {
    border-right: 35px solid rgba(0, 0, 255, 0.48);
}
/*slider nimas*/

.slide-left {
    -webkit-animation: slide-left 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide-left .3s forwards;
    animation-delay: 0s;
}

.slide-right:before {
    -webkit-animation: redflash-left-side 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: redflash-left-side .3s forwards;
    animation-delay: 0s;
}

.slide-right:after {
    -webkit-animation: redflash-right-side 0.3s forwards;
    -webkit-animation-delay: 0s;
    animation: redflash-right-side .3s forwards;
    animation-delay: 0s;
}

.slide-right {
    -webkit-animation: slide-right 0.3s forwards;
    -webkit-animation-delay: 0s;
    animation: slide-right .3s forwards;
    animation-delay: 0s;
}
.slide-left:after {
    -webkit-animation: greenflash-right-side 0.3s forwards;
    -webkit-animation-delay: 0s;
    animation: greenflash-right-side .3s forwards;
    animation-delay: 0s;
}
.slide-left:before {
    -webkit-animation: greenflash-left-side 0.3s forwards;
    -webkit-animation-delay: 0s;
    animation: greenflash-left-side .3s forwards;
    animation-delay: 0s;
}
@-webkit-keyframes redflash-left-side {
    0% {}
    50% {  border-right: 35px solid rgba(255, 62, 51, 0.15);  }
    100% {}
}
@-webkit-keyframes redflash-left-side {
    0% {}
    50% {  border-right: 35px solid rgba(255, 62, 51, 0.15);  }
    100% {}
}
@-webkit-keyframes redflash-right-side {
    0% {}
    50% {  border-left: 35px solid rgba(255, 62, 51, 0.15);  }
    100% { }
}
@-webkit-keyframes redflash-right-side {
    0% {}
    50% { border-left: 35px solid rgba(255, 62, 51, 0.15);  }
    100% {}
}
@-webkit-keyframes greenflash-left-side {
    0% {}
    50% {  border-right: 35px solid rgba(0, 255, 27, 0.15);  }
    100% {}
}
@-webkit-keyframes greenflash-left-side {
    0% {}
    50% { border-right: 35px solid rgba(0, 255, 27, 0.15);  }
    100% { }
}
@-webkit-keyframes greenflash-right-side {
    0% {}
    50% { border-left: 35px solid rgba(0, 255, 27, 0.15);  }
    100% {}
}
@-webkit-keyframes greenflash-right-side {
    0% {}
    50% { border-left: 35px solid rgba(0, 255, 27, 0.15);  }
    100% {}
}
@-webkit-keyframes slide-left {
    0% { left: 0;}
    50% { left: -15px; background: rgba(0, 255, 20, 0.15); }
    100% { left: 0; }
}
@keyframes slide-left {
    0% { left: 0; }
    50% { left: -15px; background: rgba(0, 255, 20, 0.15); }
    100% { left: 0; }
}
@-webkit-keyframes slide-right {
    0% { left: 0; }
    50% { left: 15px; background: rgba(255, 62, 51, 0.15); }
    100% { left: 0; }
}
@keyframes slide-right {
    0% { left: 0; }
    50% { left: 15px; background: rgba(255, 62, 51, 0.15); }
    100% { left: 0; }
}

.tiny-input {
    border: none;
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px dashed white;
    padding: 1px 2px;
    width: 40px;
}


.inventory-total-col {
    z-index: 7;
    position: relative;
    padding: 20px;
    text-align: right;
}

.inventory-toolbar .top {
    padding: 10px;
}

.inventory-toolbar .bottom {
    /*padding: 10px;*/
    border: 1px solid #a3cede;
    background: #576165;
    box-shadow: 1px 1px 1px black;
}

/*
.inventory-toolbar .form-group input, .inventory-toolbar .form-group select{
    margin-left: 10px;
}
*/

.inventory-toolbar .bottom form > .form-group {
    padding: 10px;
    margin-bottom: 0;
}

.inventory-toolbar .bottom form > .form-group:first-child {
    /*border-right: 1px dotted red;
    height: 50px;*/
    background: #657f98;
}
.inventory-toolbar .bottom form > .form-group:nth-child(2) {
    background: #719882;
}
.inventory-toolbar .bottom form > .form-group:nth-child(3) {
    background: #657f98;
}
.inventory-toolbar .bottom form > .form-group:nth-child(4) {
    background: #719882;
}

.inventory-table-wrapper {
    /*position: absolute;*/
    left: 0;
    right: 0;
    /*height: 600px;
    overflow-y: auto;*/
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}


/*
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}*/
@media (min-width: 425px)
{
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }



}

@media (min-width: 768px)
{


    .inventory-toolbar .form-group input, .inventory-toolbar .form-group select {
        margin-left: 10px;
    }

}

.middle .nav-tabs {
    background: #7e678c;
    border: none;
}

.middle .nav>li>a {
    padding: 1px 7px;
    border-radius: 0;
    color: #d0c4dc;
}

.middle {
    background-color: #5d5d5d;
}

.middle .nav-tabs>li.active>a, .middle .nav-tabs>li.active>a:hover, .middle .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 5000;
    font-size: 50px;
    text-align: center;
    color: #cdcdef;
    text-shadow: 2px 2px 6px black;
}

.md-editor.md-fullscreen-mode {
    top: 50px;
}

.md-editor>.md-preview {
    padding: 10px;
}

.inventory-swipe-pic img {
    width: 10%;
    height: auto;
}

.no-animate > * {
    transition: none;
}

.inventory-swiper {
    font-size: 30px;

}

.overlay {

}

.generic-remove-btn {
    padding: 0 0 0 11px;
    text-shadow: 1px 1px 1px black;
}

/* inv nav */
inventory-nav .btn-group > .btn{
    color: #262626;
}

inventory-nav .btn-group > .btn.active {
    color: #ffffff;
}

/*inventory-nav {
    !*position: fixed;
    top: 50px;
    left: 0;
    right: 0;*!
}
inventory-nav .nav-tabs.nav-justified > li, inventory-nav .nav-tabs.nav-justified > li > a {
    border-radius: 0 !important;
}

inventory-nav .nav-tabs>li>a {
    border: none;
}

inventory-nav .nav>li>a:hover, inventory-nav .nav>li>a:focus {
    text-decoration: none;
    background: none;
}

inventory-nav .nav-tabs>li.active>a,
inventory-nav .nav-tabs>li.active>a:hover,
inventory-nav .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: inherit;
    border: 1px solid #ec971f;
    border-bottom-color: transparent;
}
inventory-nav .nav-tabs.nav-justified>.active>a,
inventory-nav .nav-tabs.nav-justified>.active>a:hover,
inventory-nav .nav-tabs.nav-justified>.active>a:focus {
    border: none;
    border-bottom: 4px solid white;
}

inventory-nav .orange-nav-bottom li a {
    border: 1px solid #ec971f;
}

inventory-nav .orange-nav-bottom li.active>a {
    border-color: #ec971f !important;
}

inventory-nav li a:not(.active) {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.42);
}

@media (min-width: 768px)
{
    inventory-nav .orange-nav-bottom.nav-tabs.nav-justified>li>a {
        border-bottom: 4px solid #ec971f;
        border-radius: 4px 4px 0 0;
    }
}*/

app-nav {
    margin-bottom: 46px;
    display: inline-block;
}

.warning-bottom-border {
    border-bottom: 5px solid #ec971f;
}

.primary-bottom-border {
    border-bottom: 5px solid #2e6da4;
}

.info-bottom-border {
    border-bottom: 5px solid #5bc0de;
}

.success-bottom-border {
    border-bottom: 5px solid #4cae4c;
}

.danger-bottom-border {
    border-bottom: 5px solid #d9534f;
}


.well.light {
    background-color: white;
    color: #464646;
    border-color: white;
}

blog, article-page {
    display: block;
    margin-top: 125px;
}

article[data-preview="true"] {
    max-height: 355px;
    overflow: hidden;
}

article[data-preview="true"]::after {
    position: absolute;
    content: " ";
    bottom: 0;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, #000 100%);
    background-image: -moz-linear-gradient(rgba(255,255,255,0) 0%, #000000 100%);
    background-image: -o-linear-gradient(rgba(255,255,255,0) 0%, #000000 100%);
    background-image: linear-gradient(rgba(255,255,255,0) 0%, #000 100%);
    background-image: -ms-linear-gradient(rgba(255,255,255,0) 0%, #000000 100%);
}

highchart {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

highchart#chart1 {
    height: 300px;
}

blog > div {
    position: relative;
}

.article-continue {
    position: absolute;
    left: 0;
    bottom: -19px;
    padding: 13px;
    right: 0;
    background: rgba(140, 140, 140, 0.16);
}

.inventory-order-info > h3 {
    padding: 5px;
    display: inline-block;
}

.inventory-order-info > .badge {
    font-size: 20px;
    background: ghostwhite;
    color: black;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
    border-left: 1px solid black;
}

.inv-balance-info h3 {
    color: black;
    margin-top: 0;
}

.inv-balance-info .panel {
    border-radius: 0;
}

.fat-btn {
    padding: 19px;
}

.inventory-toolbar-special-row div:first-child {
    padding-right: 0;
}

.inventory-toolbar-special-row div:nth-child(2) {
    padding-left: 0;
}