
<div class="children" ng-if="$ctrl.comments.length > 0">

    <div class="comment" ng-repeat="comment in $ctrl.comments" >

        <div class="caption" ng-click="comment.try = !comment.try">
            <div class="comment-body" ng-class="::{'user-comment' : comment.userID == $root.session.userID}" >
                <div class="author">
                    <a>{{::comment.user.username}}</a><span class="comment-spacer">{{::comment.createdAt | date:'short'}}</span>
                </div>
                <span marked="::comment.body"></span>
                <div class="text-right">
                    <reply-button comment="comment" article="$ctrl.article"></reply-button>
                </div>
            </div>
            <!--<span ng-if="::comment.replyCount > 0">{{comment.replyCount}} replies</span>-->
        </div>
        <div id="{{'commentid-' + comment.commentID + '-reply-box'}}"></div>
        <span>
            <article-comments-children article="$ctrl.article" comments="comment.replies" parent-id="comment.commentID"></article-comments-children>
        </span>
    </div>
</div>