<div class="overlay" ng-show="$ctrl.loading">LOADING</div>
<div class="">
    <div class="inventory-toolbar">
        <div class="row-fluid top">
            <div class="pull-left">
                <button type="button" class="btn btn-default"><span class="fa fa-undo"></span></button>
                <button type="button" class="btn btn-default"><span class="fa fa-repeat"></span></button>
            </div>
            <div class="pull-right " ng-show="$ctrl.InventoryService.inProgress">
                <button type="button" class="btn btn-danger">Reset</button>
                <button type="button" class="btn btn-success" ng-click="$ctrl.handleCommit()">Commit</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn btn-primary">Left</div>
                <div class="btn btn-primary">Middle</div>
                <div class="btn btn-primary">Right</div>
            </div>
        </div>-->
        <div class="row-fluid middle">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#" ng-click="showFilter = !showFilter">Filter</a></li>
                <li role="presentation"><a href="#">...</a></li>
                <li role="presentation"><a href="#">...</a></li>
            </ul>
        </div>
        <div class="row-fluid bottom">
            <form class="form-inline" ng-show="showFilter">
                <div class="form-group">
                    <label for="exampleInputName2" class="hidden-xs">Name</label>
                    <input placeholder="Name" type="text" class="form-control input-sm" ng-model="$ctrl.filter.name"
                           ng-change="$ctrl.handleFilterChange()"
                           ng-model-options="{ allowInvalid: true, debounce: 200 }">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2" class="hidden-xs">Category</label>
                    <select  class="form-control input-sm">
                        <option>asdf</option>
                        <option>asdf</option>
                        <option>asdf</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2" class="hidden-xs">Quantity</label>
                    <input type="text" class="form-control input-sm" id="exampleInputName2" placeholder="Jane Doe">
                </div>
            </form>
        </div>
    </div>

    <div class="inventory-table-wrapper">
        <table class="table table-striped inventory-table">
            <tbody>
            <tr class="bigger-text inventory-row" ng-repeat="item in $ctrl.currentItems"
                ng-init="$item = $ctrl.getItem(item.item_id)"

                ng-class="{'inventory-row-dirty' : $item.isDirty()}">

                <td>{{item.name}}&nbsp;&nbsp;<span class="hidden-xs">({{item.unit}})</span></td>

                <td valign="center"
                    ng-swipe-right="$ctrl.incrementQuantity($item)"
                    ng-swipe-left="$ctrl.decrementQuantity($item)"
                    style="padding:0;"
                    id="{{'item-slider-' + item.item_id}}" class="inv-slider">

                <span >
                    {{$item._changes.quantity ? item.quantity : "&lt;[-]--[+]&gt;"}}
                    <span ng-show="$item._changes.quantity" ng-class="$item._changes.quantity > 0 ? 'positive' : 'negative'"
                          class="signed">
                        {{$item._changes.quantity>0?$item._changes.quantity:($item._changes.quantity*-1) || ''}}
                    </span>
                </span>

                </td>
                <td class="inventory-total-col">
                <span ng-show="toggled">
                         <input type="text" class="tiny-input" ng-model="tedt">
                </span>
                    <span ng-show="!toggled" ng-click="toggled = true">
                    <span ng-class="{'positive' : $item._changes.quantity > 0, 'negative': $item._changes.quantity < 0}">
                    {{($item._changes.quantity || 0) + item.quantity}}
                </span>
                </span>

                </td>

                <td class="text-right hidden-xs">
                    <span class="btn btn-default fa fa-minus" ng-click="$ctrl.decrementQuantity($item)"></span>
                    <span class="btn btn-default fa fa-plus" ng-click="$ctrl.incrementQuantity($item)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>