<header class="row">
    <div class="avatar col-md-1 hidden-xs">
        <img src="./img/databaseicon.png">
    </div>
    <div class="article-title col-md-11">
        <a ui-sref="app.article.view({articleID: $ctrl.article.articleID})">{{::$ctrl.article.title || 'NO TITLE'}}</a>
    </div>
    <div class="article-info col-md-11">
        Posted on {{::$ctrl.article.createdAt | date}} by <a>{{::$ctrl.article.user.username}}</a>
        <div class="article-admin-ctrl" ng-if="$root.session.role.roleID == 2">
            <button class="btn btn-primary btn-xs" title="edit" ui-sref="app.article.view.edit({articleID: $ctrl.article.articleID})"><span class="fa fa-pencil"></span></button>
            <button class="btn btn-danger btn-xs" title="remove" ng-click="$ctrl.deleteArticle()"><span class="fa fa-trash"></span></button>
        </div>
    </div>

</header>
<div class="article-content">
    <p marked="::$ctrl.article.body"></p>
    <!--<div style="position: relative">
        <p ng-bind-html="::$ctrl.article.body"></p>
        <div class="fadeout" ng-if="$ctrl.article.body.length > 200"></div>
    </div>
    <div class="article-continue" ng-if="$ctrl.article.body.length > 200">
        <a ui-sref="article({id: $ctrl.article.articleID })">Continue reading...</a>{{$ctrl.article.articleID}}
    </div>-->
    <div class="article-continue text-right">
        <a ui-sref="app.article.view({articleID: $ctrl.article.articleID})">Comments »</a>
    </div>
</div>
<!--
<div class="article-comments text-right">
    <a>34 Comments</a>
</div>-->
